:root{
    --cor1: #1351d8;
    --cor2: #1b357e;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 10px 10px;
    position: relative;
    height: 14.5vh;
    width: 100%;
}

header > img{
    position: absolute;
    padding-left: 15px;
    height: 70%;
}

header > nav{
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 20px;
}

header > nav > a{
    text-decoration: none;
    color: var(--cor1);
    font-weight: bolder;
}

header > nav > a:hover {
    color: var(--cor2); 
    transform: scale(1.1); 
}

@media (max-width:1100px){

    header > img{
        position: static;
        height: 10vh;
        padding: 15px 0px 15px 10px;
    }
    header{
        justify-content: space-around;
        align-items: center;
        height: auto;
    }
}

@media (max-width:545px){

    header > img{
        position: static;
        padding: 15px 0px 15px 0px;
        height: 10vh;
    }
    header{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    
    nav{
        padding-bottom: 15px;
    }
    

}

main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > section#imagem {
    padding-bottom: 15%;
}

main > section#formulario{
    display: flex;
    padding-bottom: 6%;
    width: 20%;
    
}

@media (max-width:800px){

    main > section#imagem {
        padding-bottom: 0%;
    }
    main > section#formulario {
        padding-bottom: 0%;
        width: 58%;
        padding-bottom: 20px;
    }
    main{
        flex-direction: column;
    }
}

section#formulario > form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

form > p{
    font-weight: bolder;
}

form > .inputs{
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;

}

form > #select{
    width: 100%;
    padding: 10px;
    

}

form > #textarea{
    height: 15vh;
    padding: 8px;
    resize: none;
}

form > input#Enviar{
    background-color: var(--cor1);
    width: 65%;
    height: 18%;
    border-radius: 10px;
    color: white;
    border: 1px solid var(--cor1);
    box-sizing: border-box;
    padding: 0;
    align-self: flex-end;
}

form > input#Enviar:hover {
    background-color: var(--cor2); 
    border-color: var(--cor2); 
    transform: scale(1.05); 
}

footer{
    background-color: var(--cor2);
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 26%;
    padding: 6px 0px;

}

footer > div#Redes{
    display: flex;
    color: white;
    font-weight: bolder;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    padding-left: 5px;
}

footer > p{
    color: white;
    font-weight: bolder;
    align-self: center;
}

footer > img{
    padding-right: 5px;
}


@media (max-width: 500px){
    footer > div#Redes{
        padding: 0;
    }

    footer > img{
        padding: 0;
    }

    footer > p{
        padding: 0;
        text-align: center;
    }

    footer{
        justify-content: space-around;
    }
}

@media (max-width:1014px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }    

    footer > div#Redes{
        padding: 10px 0px 15px 0px;
    }

    footer > p{
        padding: 10px 0px 15px 0px;
    }

    footer > img{
        padding: 10px 0px 15px 0px;
    }
}

@media (max-width:1543px){
    footer{
        gap: 22%;
    }
}

@media (max-width:1360px){
    footer{
        gap: 17%;
    }
}

@media (max-width:1150px){
    footer{
        gap: 13%;
    }
}