:root{
    --cor1: #1351d8;
    --cor2: #1b357e;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 10px 10px;
    position: relative;
    height: 14.5vh;
    width: 100vw;
}

header > img{
    position: absolute;
    padding-left: 15px;
    height: 100%;
}

header > nav{
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 20px;
}

header > nav > a{
    text-decoration: none;
    color: var(--cor1);
    font-weight: bolder;
}

@media (max-width:1100px){

    header > img{
        position: static;
        padding-right: 4px;
    }
    header{
        justify-content: space-around;
        align-items: center;
        height: auto;
    }
}

@media (max-width:545px){

    header > img{
        position: static;
        padding-bottom: 10px;
    }
    header{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    nav{
        padding-bottom: 15px;
    }
    

}

main{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100vw;
    height: 100%;
    align-items: center;
}

main > img{
    width: 80%;
    height: auto;
    padding-top: 2vh;
}

@media  (max-width:950px){
    main > img{
        width: 80%;
        padding-top: 2%;
    }
}

main > p{
    text-align: center;
    font-weight: bolder;
    padding: 1% 1% 0.5% 1%;

}

footer{
    background-color: var(--cor2);
    display: flex;
    width: 100vw;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 26%;
}

footer > div#Redes{
    display: flex;
    color: white;
    font-weight: bolder;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

footer > p{
    color: white;
    font-weight: bolder;
    align-self: center;
}

@media (max-width: 500px){
    footer > div#Redes{
        padding-left: 0;
    }

    footer > img{
        padding-right: 0;
    }

    footer{
        justify-content: space-around;
        gap: 10px;
    }
}