:root{
    --cor1: #1351d8;
    --cor2: #1b357e;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 10px 10px;
    position: relative;
    height: 14.5vh;
    width: 100%;
    margin-bottom: 30px;
}

header > img{
    position: absolute;
    padding-left: 15px;
    height: 70%;
}

header > nav{
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 20px;
}

header > nav > a{
    text-decoration: none;
    color: var(--cor1);
    font-weight: bolder;
}

header > nav > a:hover {
    color: var(--cor2); 
    transform: scale(1.1); 
}

@media (max-width:1100px){

    header > img{
        position: static;
        height: 10vh;
        padding: 15px 0px 15px 10px;
    }
    header{
        justify-content: space-around;
        align-items: center;
        height: auto;
    }
}

@media (max-width:545px){

    header > img{
        position: static;
        padding: 15px 0px 15px 0px;
        height: 10vh;
    }
    header{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    nav{
        padding-bottom: 15px;
    }
}

main{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    align-items: center;
}

main > a{
    display: flex;
    justify-content: center;
    width: 68.4%;
    max-width: 1200px;
    box-sizing: border-box;
    background-color: brown;
}

main > a > img{
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
}

main > p{
    text-align: center;
    font-weight: bolder;
    padding: 15px 10px 15px 10px;
}

footer{
    background-color: var(--cor2);
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 24%;
    padding: 6px 0px;
}

footer > div#Redes{
    display: flex;
    color: white;
    font-weight: bolder;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    padding-left: 5px;
}

footer > img{
    padding-right: 5px;
    
}

footer > p{
    color: white;
    font-weight: bolder;
    align-self: center;
}

@media (max-width: 500px){
    footer > div#Redes{
        padding: 0;
    }

    footer > img{
        padding: 0;
    }

    footer > p{
        padding: 0;
        text-align: center;
    }

    footer{
        justify-content: space-around;
    }
}

@media (max-width:1014px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }    

    footer > div#Redes{
        padding: 10px 0px 15px 0px;
    }

    footer > p{
        padding: 10px 0px 15px 0px;
    }

    footer > img{
        padding: 10px 0px 15px 0px;
    }
}

@media (max-width:1543px){
    footer{
        gap: 22%;
    }
}

@media (max-width:1360px){
    footer{
        gap: 17%;
    }
}

@media (max-width:1150px){
    footer{
        gap: 13%;
    }
}