:root{
    --cor1: #1351d8;
    --cor2: #1b357e;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 10px 5px;
}

header > img{
    padding: 10px 0px 10px 10px;
    width: 10%;
    height: 10%;
}

header > nav{
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 20px;
    padding-right: 60px;
}

header > nav > a{
    text-decoration: none;
    color: var(--cor1);
    font-weight: bolder;
}

#video{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
}

#video > iframe {
    width: 30%; 
    aspect-ratio: 16 / 9;  
}

#carros{
    width: 100%;
    display: flex;
    background-color: blueviolet;
    justify-content: center;
    gap: 4px;
}

#carros > img{
    width: 10%;
    height: auto;
}

footer{
    background-color: var(--cor2);
    display: flex;
    justify-content: space-between;
}

footer > div#Redes{
    display: flex;
    color: white;
    font-weight: bolder;
    padding-left: 15px;
    align-items: center;
    gap: 5px;
}

footer > img{
    padding-right: 50px;
}