:root{
    --cor1: #1351d8;
    --cor2: #1b357e;
}

header{
    background-color:chocolate;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header > nav{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;


}

section#menu > nav > a{
    text-decoration: none;
    color: var(--cor1);
    flex-wrap: wrap;
}